@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "./tailwind.css";
@import "./blocks/header.scss";
@import "./blocks/banner.scss";

[data-hidden]{
	@apply hidden lg:block;
}

.btn{
	@apply inline-block cursor-pointer text-[14px] sm:text-lg uppercase font-medium py-3 w-full sm:w-auto sm:px-10 bg-white rounded text-gray-logo transition-all hover:opacity-90 hover:shadow-xl;
	&.btn-accent{
		@apply bg-accent text-white;
	}
	&.btn-black{
		@apply bg-black/80 text-white;
	}
	&.btn-sm{
		@apply text-[14px] py-1 px-1 text-center capitalize hover:shadow-none hover:opacity-80;
	}
}

[data-aos] {
	will-change: transform;
}

.swiper-pagination-bullet{
	@apply w-4 h-4 bg-gray-400 opacity-100;
}
.swiper-pagination-bullet-active{
	@apply bg-accent;
}

span[class^="fake-checkbox"]{
	@apply 
	before:content-[''] 
	before:absolute 
	before:left-1/2 
	before:top-1/2 
	before:-translate-x-1/2
	before:-translate-y-1/2
	before:w-2.5 before:h-2.5
	before:opacity-0
	before:transition-opacity
}
.fake-checkbox{
	@apply before:bg-gray-800 border border-gray-800;
}
input[type="checkbox"]:checked ~ div>.fake-checkbox{
	@apply before:opacity-100;
}


@keyframes light {
	0% {
		box-shadow: 0 8px 10px rgba(#28A8E9, 0.3), 0 0 0 0 rgba(#28A8E9, 0.2), 0 0 0 0 rgba(#28A8E9, 0.2);
	}
	40% {
			box-shadow: 0 8px 10px rgba(#28A8E9, 0.3), 0 0 0 15px rgba(#28A8E9, 0.2), 0 0 0 0 rgba(#28A8E9, 0.2);
	}
	80% {
			box-shadow: 0 8px 10px rgba(#28A8E9, 0.3), 0 0 0 30px rgba(#28A8E9, 0), 0 0 0 26.7px rgba(#28A8E9, 0.067);
	}
	100% {
			box-shadow: 0 8px 10px rgba(#28A8E9, 0.3), 0 0 0 30px rgba(#28A8E9, 0), 0 0 0 40px rgba(#28A8E9, 0.0);
	}
}

@keyframes opsimple {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

#telegram-widget{
	animation: light linear 1s infinite;
	a{
		animation: opsimple 4s infinite;
	}
}

.accr-slider{
	.swiper-slide{
		img{
			@apply lg:opacity-70 lg:scale-75;
			transition: all .3s cubic-bezier(.17,.67,.83,.67);
		}
		&.swiper-slide-active{
			img{
				@apply lg:opacity-100 lg:scale-125;
			}
		}
	}
}